body{
    background: #600E0E;
    background: linear-gradient(180deg, rgba(96, 14, 14, 1) 0%, rgba(0, 0, 0, 1) 100%);
    font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
    max-width: 100%;
    height: auto; 
    display: block;
}

h2 {
    margin: 0; 
    text-align: left;
    font-family: "Italianno", cursive;
    font-size: 175px;
    line-height: 130px;
    color: white;
}

h3 {
    text-align: right;
    font-family: "Italianno", cursive;
    font-size: 175px;
    line-height: 130px;
    color: white;
}

/* ---------------------------- overall ----------------------------  */

.grid-container {
    display: grid;
    padding: 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-areas:
    "bio . . mail"
    "melinafrei melinafrei melinafrei melinafrei"
    "layout1-5 layout1-5 layout1-1 projektbeschrieb-layout1"
    "layout1-5 layout1-5 layout1-2 layout1-3"
    "titel-layout1 titel-layout1 . layout1-4"

    ". layout2-1 layout2-4 layout2-4"
    "projektbeschrieb-layout2 layout2-2 layout2-4 layout2-4"
    "titel-layout2 titel-layout2 layout2-3 layout2-5"

    "layout4paris-4 layout4paris-4 titel-layout4paris titel-layout4paris"
    "layout4paris-4 layout4paris-4 layout4paris-1 layout4paris-2"
    "projektbeschrieb-layout4paris layout4paris-3 layout4paris-5 ."
    ;
}

/* ---------------------------- raster ----------------------------  */

.melinafrei {
    margin-top: -180px;
}

.bio {
    grid-area: bio;
    align-self: left; 
    color: white;
}

.mail {
    grid-area: mail;
    align-self: right; 
    position: relative; 
    z-index: 1000;  
}

.mail p {
    text-align: right;
}

.mail a {
    color: white;
    text-decoration: none;
}

.mail a:hover {
    text-decoration: underline;
}

    /* ---------------------------- name ----------------------------  */

.titel-layout1 {
    grid-area: titel-layout1;
    top: 0;
    margin-top: 30px
}

.titel-layout2 {
    grid-area: titel-layout2;
    top: 0;
    margin-top: 25px;
}

.titel-layout2 h3 {
    margin-top: 5px;
}


.titel-layout4paris {
    grid-area: titel-layout4paris;
    top: 0;
    margin-top: 60px
}
    /* ---------------------------- titel ----------------------------  */

.projektbeschrieb-layout1 {
    grid-area: projektbeschrieb-layout1;
    color: white;
    margin-top: 65px;
}

.projektbeschrieb-layout2 {
    grid-area: projektbeschrieb-layout2;
    color: white;
    margin-top: 30px;
}

.projektbeschrieb-layout4paris {
    grid-area: projektbeschrieb-layout4paris;
    top: 0;
    color: white;
    margin-top: -18px;
}

    /* ---------------------------- projektbeschriebe ----------------------------  */

/* ---------------------------- text ----------------------------  */

.melinafrei {
    grid-area: melinafrei;
}

.layout1-1 {
    grid-area: layout1-1;
}

.layout1-1 img {
    transition: transform 2s ease;
    transform-origin: top center;
}

.layout1-1 img:hover {
    transform: scale(1.50);
}

.layout1-2 {
    grid-area: layout1-2;
}

.layout1-2 img {
    transition: transform 2s ease;
    transform-origin: top center;
}

.layout1-2 img:hover {
    transform: scale(1.50);
}

.layout1-3 {
    grid-area: layout1-3;
}

.layout1-3 img {
    transition: transform 2s ease;
    transform-origin: top right;
}

.layout1-3 img:hover {
    transform: scale(1.50);
}

.layout1-4 {
    grid-area: layout1-4;
    margin-bottom: 250px;
}

.layout1-4 img {
    transition: transform 2s ease;
    transform-origin: top right;
}

.layout1-4 img:hover {
    transform: scale(1.50);
}

.layout1-5 {
    grid-area: layout1-5;
}

.layout1-5 img {
    max-width: 100%;
    height: 100%; 
    object-fit: cover;
}

.layout1-5 img {
    transform-origin: top left;
    transition: transform 2s ease;
}

.layout1-5 img:hover {
    transform: scale(1.50);
}

    /* ---------------------------- layout1 ----------------------------  */

.layout2-1 {
    grid-area: layout2-1;
}

.layout2-1 img {
    transition: transform 2s ease;
    transform-origin: top center;
}

.layout2-1 img:hover {
    transform: scale(1.50);
}

.layout2-2 {
    grid-area: layout2-2;
}
img {
    transition: transform 2s ease;
    transform-origin: top center;
}

.layout2-2 img:hover {
    transform: scale(1.50);
}

.layout2-3 {
    grid-area: layout2-3;
}

.layout2-3 img {
    transition: transform 2s ease;
    transform-origin: top center;
}

.layout2-3 img:hover {
    transform: scale(1.50);
}

.layout2-4 {
    grid-area: layout2-4;
}

.layout2-4 img {
    transition: transform 2s ease;
    transform-origin: top right;
}

.layout2-4 img:hover {
    transform: scale(1.50);
}

.layout2-5 {
    grid-area: layout2-5;
    margin-bottom: 250px;
}

.layout2-5 img {
    transition: transform 2s ease;
    transform-origin: top right;
}

.layout2-5 img:hover {
    transform: scale(1.50);
}

    /* ---------------------------- layout2 ----------------------------  */

.layout4paris-1 {
    grid-area: layout4paris-1;
    align-self: end;
}

.layout4paris-1 img {
    transition: transform 2s ease;
    transform-origin: top center;
}

.layout4paris-1 img:hover {
    transform: scale(1.50);
}

.layout4paris-2 {
    grid-area: layout4paris-2;
    align-self: end;
}

.layout4paris-2 img {
    transition: transform 2s ease;
    transform-origin: top right;
}

.layout4paris-2 img:hover {
    transform: scale(1.50);
}

.layout4paris-3 {
    grid-area: layout4paris-3;
}

.layout4paris-3 img {
    transition: transform 2s ease;
    transform-origin: top center;
}

.layout4paris-3 img:hover {
    transform: scale(1.50);
}

.layout4paris-4 {
    grid-area: layout4paris-4;
}

.layout4paris-4 img {
    transition: transform 2s ease;
    transform-origin: top left;
}

.layout4paris-4 img:hover {
    transform: scale(1.50);
}

.layout4paris-5 {
    grid-area: layout4paris-5;
    margin-bottom: 150px
}

.layout4paris-5 img {
    transition: transform 2s ease;
    transform-origin: top center;
}

.layout4paris-5 img:hover {
    transform: scale(1.50);
}

    /* ---------------------------- layout4paris ----------------------------  */

/* ---------------------------- bilder ----------------------------  */

.projektbeschrieb-layout1,
.projektbeschrieb-layout2,
.projektbeschrieb-layout4paris {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.titel-layout1:hover ~ .projektbeschrieb-layout1 {
    opacity: 1;
}


.titel-layout2:hover ~ .projektbeschrieb-layout2 {
    opacity: 1;
}
.titel-layout4paris:hover ~ .projektbeschrieb-layout4paris {
    opacity: 1; 
}

/* ---------------------------- Text einblenden ----------------------------  */

.grid-container:has(.blur:hover) .blur {
  filter: blur(3px);
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.blur:hover {
  filter: blur(0) !important;
}

/* ---------------------------- Blur ----------------------------  */

.grid-container > div {
  position: relative;
}

.grid-container > div:hover {
  z-index: 999;
}

/* ---------------------------- Ebenen ----------------------------  */